@model DemoMVC.Models.Product
@{
    ViewData["Title"] = "Update Stock Details";
}
<h1>Update Stock Details</h1>
<hr />
<div class="flex-container">
    <h4>
        @ViewData["Message"]<br />
    </h4>
    <div class="col-md-4 col-sm-6">
        <form asp-controller="Product" asp-action="UpdateStock">
            <div class="form-group">
                <label> SKU : </label>
                <input asp-for="SKU" placeholder="SKU" />
            </div>
            <div class="form-group">
                <label>Enter updated Stock :  </label>
                <input type ="text" asp-for="Stock" placeholder="Stock" />
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>