html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
/* styles for desktop devices */
@media only screen and (min-width: 992px) {
    body {
        font-size: 16px;
        width: 80%;
        margin: auto;
    }
}
/* styles for mobile devices */
@media only screen and (max-width: 767px) {
    body {
        font-size: 12px;
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 460px) {
    table {
        position: relative; /* necessary to keep header visible for scroll */
    }

    thead, tbody {
        vertical-align: top;
    }

    thead, tbody, tr {
        display: table-cell;
    }

    thead {
        width: 100px;
        border: 1px solid #999;
    }

    tbody {
        /* necessary to keep header visible on left for scroll */
        position: absolute;
        left: 100px;
        // based on the width of the 'thead' for offset width: 200px;
        // how much to show horizontally before scroll border: 1px solid #e7e7e7;
        overflow-x: scroll;
    }

    th, td {
        display: block;
        width: 100px;
        height: 50px;
        padding: 10px 0;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }
}
body {
    margin-bottom: 60px;
    background-image: linear-gradient( #ffffff, lightblue);
}
table {
    width: 50%;
    box-shadow: 5px 5px 5px 5px gray;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
th{
    font-size:larger;
    font-style:bold;
}
td{
    text-align:left
}
input[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
input[type=password] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
body {
    margin: 20px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: left;
}
.flex-container {
    display: flex;
    /*this centers the text horizontally*/
    justify-content: center;
    /*this centers the text vertically*/
    align-items: center;
    box-shadow: 5px 5px 3px 3px lightblue;
    height:1000%;
    width: 120%;
}​